  <div class='section'>
     <p id="college_t1"></p>   
     <button type="button" class="btn btn-outline-dark" id="btn-edit-college-t1" style="visibility: hidden;">Edit Text</button>  
  </div>
<script >
	edit = true;
	 buttonClicked();
  $('#college_t1').contentinit("college_t1","DUBadC oversees college badminton at Durham and has an exec position dedicated to administering all college leagues and tournaments. College badminton is very popular at Durham, with all 16 colleges taking part. Students have the chance to play men’s, women’s and mixed doubles competitively and represent their college in doing so. Elite Squad members who play for the Men’s 3rd team or the Women’s 3rd and 2nd teams are permitted to play for their college.<br><br>Most college teams will hold trials at the start of Michaelmas Term, which you can find out more about at your college's freshers fair.<br><br>Throughout the academic year college teams play against the other teams in their leagues, and may also take part in various inter-college tournaments.<br><br>The chosen squad will have training sessions each week and, in many colleges, a social playing session for beginners or more casual players is also offered. Those who wish to receive more training are encouraged to attend the development squad sessions on Saturday mornings at Maiden Castle. These sessions are run by Elite Squad members and are aimed at players looking to improve their badminton skills.<br><br>If you would like to know more about college badminton, please contact the college officer or your college club captain.<br><br>College Officer 2018/19: Yaorun Cai<br>");
  $("#btn-edit-college-t1").click(btn_college_t1_clicked);
</script>