  <div class='section'>
     <p id="development_t1"></p>   
     <button type="button" class="btn btn-outline-dark" id="btn-edit-development-t1" style="visibility: hidden;">Edit Text</button>  
  </div>
<script >
	 edit = true;
	 buttonClicked();
  $('#development_t1').contentinit("development_t1","The Development Squad is aimed at players at college level who want the benefit of coaching from qualified Level 2 and Level 1 coaches to improve their play. Sessions run once a week in addition to college badminton training sessions. Players are encouraged to suggest areas of the game they want to improve and training will be tailored to this.<br><br>Students who attend development sessions and show considerable talent for badminton may be invited to join one of the elite squad’s weekly training sessions. They may then be offered a place on the squad if they meet the required playing standard.<br><br>2018/19 season Development Squad training:<br><br>Time: 10am-12pm<br>Place: Maiden's Castle, Graham Sports Centre<br>Cost: £3 per session or £40 for the year<br><br>For more info please contact our development squad coordinator Josh at joshua.ryde@durham.ac.uk<br>");
  $("#btn-edit-development-t1").click(btn_development_t1_clicked);
</script>
