<link rel="stylesheet" href="/cssFiles/login.css">

  <form class="cd-form" action="/users/login" method="POST">
    <p class="fieldset">
      <!--<label class="image-replace cd-username" for="signin-username">E-mail</label>-->
      <i class="fa fa-user fa-lg" name="username"></i>
      <input class="full-width has-padding has-border" name="username" id="username" type="username" placeholder="Username">
    </p>

    <p class="fieldset">
      <i class="fa fa-lock fa-lg" name="password"></i>
      <input class="full-width has-padding has-border"  name="password"  id="password" type="password"placeholder="Password">
    </p>

    <p class="fieldset">
      <!--<input class="full-width" type="submit" value="Login">-->
      <button type="submit" class="btn btn-dark">Login</button>
    </p>
  </form>
