<!--<div class="heading" id="heading">

<link rel="stylesheet" href="/cssFiles/shared.css">
<link rel="stylesheet" href="/cssFiles/news.css">
<div class="rectangle" ><h1>Durham University<br>Badminton Club</h1></div>


<div class="format" id="format">-->
  <link rel="stylesheet" href="/cssFiles/news.css">
  <div class="container-fluid">                             
    <div class="row">
      <div class="col-sm-4">
        <div href="#" class="hvr-float-shadow">
          <div class="card" style="width: 350px;">
            <div href="#" class="hvr-bounce-to-top">
              <div class="card-body" data-toggle="modal" data-target="#item1">
                <img class="card-img-top" src="/imgFiles/news/General Meeting 2018/cover.jpg"  style="width: 308px;height:231px">
                <h5 class="card-title" id="card-title1">General Meeting 2018</h5>
                <p class="card-text" id="card-date1">24/11/18</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div href="#" class="hvr-float-shadow">
          <div class="card" style="width: 350px;">
            <div href="#" class="hvr-bounce-to-top">
              <div class="card-body" data-toggle="modal" data-target="#item2">
                <img class="card-img-top" src="/imgFiles/news/Trials 2018/cover.jpg" style="width: 308px;height:231px">
                <h5 class="card-title"id="card-title2">Trials 2018</h5>
                <p class="card-text"id="card-date2">06/10/18</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div href="#" class="hvr-float-shadow">
          <div class="card" style="width: 350px;">
            <div href="#" class="hvr-bounce-to-top">
              <div class="card-body" data-toggle="modal" data-target="#item3">
                <img class="card-img-top" src="/imgFiles/news/Preseason Summer 2018/cover.jpg" style="width: 308px;height:231px">
                <h5 class="card-title" id="card-title3">Preseason Summer 2018</h5>
                <p class="card-text"id="card-date3">29/09/18</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
       <div class="col-sm-4">
        <div href="#" class="hvr-float-shadow">
          <div class="card" style="width: 350px;">
            <div href="#" class="hvr-bounce-to-top">
              <div class="card-body" data-toggle="modal" data-target="#item4">
                <img class="card-img-top" src="/imgFiles/news/College Festival of Sport 2018/cover.jpg" style="width: 308px;height:231px">
                <h5 class="card-title"id="card-title4">College Festival of Sport 2018</h5>
                <p class="card-text" id="card-date4">13/06/18</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div href="#" class="hvr-float-shadow">
          <div class="card" style="width: 350px;">
            <div href="#" class="hvr-bounce-to-top">
              <div class="card-body" data-toggle="modal" data-target="#item5">
                <img class="card-img-top" src="/imgFiles/news/Annual General Meeting 2018/cover.jpg"  style="width: 308px;height:231px">
                <h5 class="card-title"id="card-title5">Annual General Meeting 2018</h5>
                <p class="card-text" id="card-date5">22/04/18</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div href="#" class="hvr-float-shadow">
          <div class="card" style="width: 350px;">
            <div href="#" class="hvr-bounce-to-top">
              <div class="card-body" data-toggle="modal" data-target="#item6">
                <img class="card-img-top" src="/imgFiles/news/BUCS Individuals 2018/cover.jpg" style="width: 308px;height:231px">
                <h5 class="card-title" id="card-title6"></h5>
                <p class="card-text" id="card-date6">19/02/18</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="item1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     <p id="news_t1"></p>
      <button type="button" class="btn btn-outline-dark" id="btn-edit-news-t1" style="visibility: hidden; margin-bottom: -50px;">Edit Text</button>
    </div>
  </div>
</div>  
<div class="modal fade" id="item2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <p id="news_t2"></p>
      <button type="button" class="btn btn-outline-dark" id="btn-edit-news-t2" style="visibility: hidden; margin-bottom: -50px;">Edit Text</button>
    </div>
  </div>
</div>
<div class="modal fade" id="item3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <p id="news_t3"></p>
      <button type="button" class="btn btn-outline-dark" id="btn-edit-news-t3" style="visibility: hidden; margin-bottom: -50px;">Edit Text</button>

    </div>
  </div>
</div>
<div class="modal fade" id="item4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <p id="news_t4"></p>
      <button type="button" class="btn btn-outline-dark" id="btn-edit-news-t4" style="visibility: hidden; margin-bottom: -50px;">Edit Text</button>
      
     
    </div>
  </div>
</div>

<div class="modal fade" id="item5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <p id="news_t5"></p>
      <button type="button" class="btn btn-outline-dark" id="btn-edit-news-t5" style="visibility: hidden; margin-bottom: -50px;">Edit Text</button>
     
    </div>
  </div>
</div>
<div class="modal fade" id="item6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <p id="news_t6"></p>
      <button type="button" class="btn btn-outline-dark" id="btn-edit-news-t6" style="visibility: hidden; margin-bottom: -50px;">Edit Text</button>
      
    </div>
  </div>
</div>
<script>
    edit = true;
    buttonClicked();
   



    $('#news_t1').contentinit("news_t1",'<div class="modal-header"><h5 class="modal-title" id="title1">General Meeting 2018</h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div><div class="modal-body"><p>League Standings:<br> Women\'s 1sts: Premier North, 5th place, 9 games, 6 points<br>Women\'s 2nds: Northern 1A, 4th place, 7 games, 9 points<br>Women\'s 3rds: Northern 2B, 4th place, 6 games, 7 points<br><br>Men\'s 1sts: Premier North, 5th place, 9 games, 6 points<br>Men\'s 2nds: Northern 2B, 3rd place, 6 games, 12 points<br>Men\'s 3rds: Northern 4B, 1st place, 6 games, 16 points</p></div><div class="modal-footer"><p id="date1">24/11/18</p></div>');
    $("#btn-edit-news-t1").click(btn_news_t1_clicked);


    $('#news_t2').contentinit("news_t2",'<div class="modal-header">       <h5 class="modal-title" id="title2">Trials 2018</h5>        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>      </div>      <div class="modal-body">        <p>Congratulations tp everyone making it onto the DU Badminton Squad! I hope that everyone had a great time at welcome drinks last night! </p>      </div>      <div class="modal-footer">        <p id="date2">06/10/18</p>           </div>');
    $("#btn-edit-news-t2").click(btn_news_t2_clicked);
    
    $('#news_t3').contentinit("news_t3",'<div class="modal-header">        <h5 class="modal-title"id="title3">Preseason Summer 2018</h5>        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>      </div>      <div class="modal-body">        <p>Thank to everyone who attended preseason and thank you to the executive committee for organising such a memorable week!</p>      </div>      <div class="modal-footer">        <p id="date3">29/09/18</p></div>');
    $("#btn-edit-news-t3").click(btn_news_t3_clicked); 

    $('#news_t4').contentinit("news_t4",' <div class="modal-header">        <h5 class="modal-title" id="title4">College Festival of Sport 2018</h5>        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>      </div>      <div class="modal-body">        <p> Thank you to all the colleges for taking part and congratulations to St Cuthbert\'s Society on beating St John\'s College in the finals and winning the tournament!</p>      </div>      <div class="modal-footer">        <p id="date4">13/06/18</p>      </div>');
    $("#btn-edit-news-t4").click(btn_news_t4_clicked);    

    $('#news_t5').contentinit("news_t5",' <div class="modal-header">        <h5 class="modal-title" id="title5">Annual General Meeting 2018</h5>        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>      </div>      <div class="modal-body">        <p>AGM RESULTS: Congratulations to our new exec members for the 2018/19 season!<br>President: Tom Davies<br>Vice President: Leith Osborne<br>Treasurer: Ho Chi Wong<br>Women\'s Captain: Joshmyn Bong<br>Men\'s Captain: Jack Richings<br>Secretary: Raashi Basu<br>Development Squad Coordinator: Joshua Ryde<br>Social Secretaries: Emma Kensett and Will Bates</p>      </div>      <div class="modal-footer">        <p id="date5">22/04/18</p>       </div>');  
    $("#btn-edit-news-t5").click(btn_news_t5_clicked);    

    $('#news_t6').contentinit("news_t6",'<div class="modal-header">        <h5 class="modal-title" id="title6">BUCS Individuals 2018</h5>        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>      </div>      <div class="modal-body">        <p>DUBadC had a wonderful holiday to Sheffield this weekend, achieving the best results we have ever got - everyone played out of their skin! <br> For those who weren\'t there, the most notable results are: <br>Womens doubles: Silver medal(!!!) - Alexandra & Emma<br>Last 32 - Joshmyn & Elaine<br>Mens doubles: Last 16 - Perry & Clemens<br>Last 32 - Tom & Tharin <br>Mixed doubles: Last 32 - Perry & Alexandra; Liv & Will<br>Thank you to everyone who came down to support, we def brought the most noise again! Also massive thanks to Kat and Freddy for organising and making it such a fab weekend</p>      </div>      <div class="modal-footer">        <p id="date6">19/02/18</p>      </div>');
      $("#btn-edit-news-t6").click(btn_news_t6_clicked);

       $('#card-title1').html($('#title1').html());
    $('#card-title2').html($('#title2').html());
    $('#card-title3').html($('#title3').html());
    $('#card-title4').html($('#title4').html());
    $('#card-title5').html($('#title5').html());
    $('#card-title6').html($('#title6').html());

    $('#card-date1').html($('#date1').html());
    $('#card-date2').html($('#date2').html());
    $('#card-date3').html($('#date3').html());
    $('#card-date4').html($('#date4').html());
    $('#card-date5').html($('#date5').html());
    $('#card-date6').html($('#date6').html());
</script>