<link rel="stylesheet" href="/cssFiles/squad.css">

  <h5><u>2018/19 Executive Committee</u></h5>
  <div class="row">
    <div class="col-sm-3">
      <a class="flip">                                        
        <span class="front">Tom Davies<br>President</span>
         <span class="back"><img src="/imgFiles/squad/tom.jpg"></span>
      </a>
    </div>
    <div class="col-sm-3">
      <a class="flip">                                        
        <span class="front">Leith Osborne<br>Vice President</span>
        <span class="back"><img src="/imgFiles/squad/leith.jpg"></span>
      </a>
    </div>
    <div class="col-sm-3">
      <a class="flip">                                        
        <span class="front">Ho Chi Wong<br>Treasurer</span>
         <span class="back"><img src="/imgFiles/squad/ho chi.jpg"></span>
      </a>
    </div>
    <div class="col-sm-3">
      <a class="flip">                                        
        <span class="front">Jack Richings<br>Men's Captain</span>
        <span class="back"><img src="/imgFiles/squad/jack.jpg"></span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <a class="flip">                                        
        <span class="front">Joshmyn Bong<br>Women's Captain</span>
         <span class="back"><img src="/imgFiles/squad/joshmyn.jpg"></span>
      </a>
    </div>
    <div class="col-sm-3">
      <a class="flip">                                        
        <span class="front">Raashi Basu<br>Secretary</span>
        <span class="back"><img src="/imgFiles/squad/raashi.jpg"></span>
      </a>
    </div>
    <div class="col-sm-3">
      <a class="flip">                                        
        <span class="front">Josh Ryde<br>Development Squad Coordinator</span>
         <span class="back"><img src="/imgFiles/squad/josh.jpg"></span>
      </a>
    </div>
    <div class="col-sm-3">
      <a class="flip">                                        
        <span class="front">Emma Kensett<br>Senior Social Secretary</span>
        <span class="back"><img src="/imgFiles/squad/emma.jpg"></span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <a class="flip">                                        
        <span class="front">Beth Speechley<br>Junior Social Secretary</span>
         <span class="back"><img src="/imgFiles/squad/beth.jpg"></span>
      </a>
    </div>
    <div class="col-sm-3">
      <a class="flip">                                        
        <span class="front">Yaorun Cai<br>College Officer</span>
        <span class="back"><img src="/imgFiles/squad/yaorun.jpg"></span>
      </a>
    </div>
    <div class="col-sm-3">
      <a class="flip">                                        
        <span class="front">Michael Lewis<br>Men's Vice Captain</span>
         <span class="back"><img src="/imgFiles/squad/michael.jpg"></span>
      </a>
    </div>
    <div class="col-sm-3">
      <a class="flip">                                        
        <span class="front">Emma Kensett<br>Women's Vice Captain</span>
        <span class="back"><img src="/imgFiles/squad/emma.jpg"></span>
      </a>
    </div>
  </div>
<script>
   edit = true;
    buttonClicked();
   
</script>